*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
}

.content{
    display: flex;
    margin: 100px 50px 50px 50px;
    font-family: sans-serif;
}

#area{
    width: 156px; 
    border: 0px solid #000;
    margin: 0 auto;
    font-size: 0px;
}

.cell{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    font-size: 26px;
    font-weight: 900;
    border: 1px solid #000;
    cursor: pointer;
    vertical-align: middle;
    transition: background .1s;
}

.cell:hover{
    background-color: #F1F1F1;
}

.currentPlayer{
    width: 140px;
    font-size: 14px;
    display: flex;
    align-items: center;
    font-weight: 700;
}
.stat{
    display: flex;
    align-items: center;
    font-size: 18px;
    table{
        border-collapse: collapse;
        td{
            padding: 10px;
            text-align: center;
            border: 1px solid #000;
        }
    }
}